.list-container {
  margin: 1rem 0;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(225, 201, 201, 0.8);
}

.student > div {
  display: flex;
  flex: 1 1;
}

.student .center-align {
  justify-content: center;
}

.student .end-align {
  justify-content: end;
}

.delete-icon {
  color: red;
  cursor: pointer;
  font-size: 15px;
}
